
#container {
	
}

table {
	border-spacing: 1px;
}

.tds {
	width: 20px;
	height: 20px;
	border: 1px solid black;
}

.divs {
	width: 20px;
	height: 20px;
	border: 1px solid black;
}

.snake {
	background-color: green;
}

.snake2 {
	background-color: red;
}